<h1>Expediente!</h1>
<p>Llamando nuestro primer servicio</p>
<div class="button_section">
  <button (click)="Listar()" class="btn btn-primary">Listado</button>
</div>
<br>
<br>
<h1>Receta!</h1>
<p>Llamando nuestro primer servicio</p>
<div class="button_section">
  <button (click)="Listar()" class="btn btn-primary">Listado</button>
</div>
<br>
<br>
<h1>Medico!</h1>
<p>Llamando nuestro primer servicio</p>
<div class="button_section">
  <button (click)="Listar()" class="btn btn-primary">Listado</button>
</div>
<br>
<br>
<h1>Consulta!</h1>
<p>Llamando nuestro primer servicio</p>
<div class="button_section">
  <button (click)="Listar()" class="btn btn-primary">Listado</button>
</div>
